<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Quiz App{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans antialiased">

    <!-- Navbar -->
    <header class="bg-indigo-600 text-white py-4">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-xl font-semibold"><a href="{{ url_for('select_quiz') }}">Cyberdefenders Quiz App</a></h1>
            <nav>
                <a href="{{ url_for('dashboard') }}" class="mr-4 hover:underline">Dashboard</a>
                {% if is_admin %}
                <a href="{{ url_for('admin') }}">Admin</a>
                {% endif %}
                <a href="{{ url_for('update_account') }}" class="mr-4 hover:underline">Update</a>
                <a href="{{ url_for('logout') }}" class="mr-4 hover:underline">Logout</a>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main class="flex justify-center py-10">
        <div class="w-full max-w-lg bg-white p-8 rounded-lg shadow-lg">
            {% block content %}{% endblock %}
        </div>
    </main>

</body>
</html>

